<div id="registrationSuccessBox" style="margin-top: 10px;" class="mainbox col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Registration Successful</div>
        </div>
        <p style="font-size: 1.3em; margin: 20px;">Thanks for Registering with  Familial Hypercholesterolaemia Studies Collaboration. You will receive a welcome email with login details, once your application is approved.
        </p>
        <div style="padding-top: 30px" class="panel-body">
            <form name="registrationSuccessForm" class="form-horizontal" method="post"
                  ng-submit="submit()" novalidate form-autofill-fix>
                <div class="col-sm-12 controls">
                     <input type="button" id="btn-close"
                                                    class="btn btn-danger" value="Close" data-ng-click="close();" />
                </div>
            </form>
        </div>
    </div>
</div>