<div id="userInfobox" style="margin-top: 10px;"
     class="mainbox col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">User Details</div>
        </div>
        <div style="padding-top: 30px" class="panel-body">
            <table class="table">
                <tbody>

                <tr>
                    <th>Title</th>
                    <td>{{user.title}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{user.firstName}}</td>
                </tr>

                <tr>
                    <th>Last Name</th>
                    <td>{{user.lastName}}</td>
                </tr>
                <tr>
                    <th>Profession</th>
                    <td>{{user.profession}}</td>
                </tr>
                <tr>
                    <th>Specialty</th>
                    <td>{{user.speciality}}</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>{{user.department}}</td>
                </tr>
                <tr>
                    <th>Institution</th>
                    <td>{{user.institution}}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{user.country}}</td>
                </tr>
                <tr>
                    <th>Comment</th>
                    <td>{{user.comment}}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{user.category}}</td>
                </tr>
                </tbody>
            </table>



        <form name="approvalForm" class="form-horizontal" method="post"
              ng-submit="submit()" novalidate form-autofill-fix>

            <div style="margin-top: 25px"
                 ng-class="{'has-error': approvalForm.adminComment.$invalid}">
                    <input type="text" class="form-control"
                           name="adminComment"
                              ng-model="adminDecision.adminComment"
                              placeholder="Admin Comment" required/>
            </div>
            <div class="error"
                 ng-show="(submitted  || approvalForm.adminComment.$dirty)  && approvalForm.adminComment.$invalid">
                <p class="error" ng-show="approvalForm.adminComment.$error.required">'Admin Comment'
                    is mandatory</p>
            </div>

            <div style="margin-top: 25px" class="input-group">
                <label>Approve or Reject application</label>

                <select class="form-control" ng-model="adminDecision.approval" name="approval" required>
                    <option value="" disabled selected>Approve/Disapprove</option>
                    <option ng-repeat="action in actions">{{action}}</option>
                </select>
            </div>

            <div class="error"
                 ng-show="(submitted  || approvalForm.approval.$dirty)  && approvalForm.approval.$invalid">
                <p class="error" ng-show="approvalForm.approval.$error.required">Please Approve or Reject the
                    application</p>
            </div>

            <div class="col-sm-12 controls" style="margin-top: 25px">
                <input type="submit" id="btn-decision" class="btn btn-success"
                       value="Approve/Reject"/>
                <input type="button" id="btn-close" class="btn btn-danger"
                       value="Close" data-ng-click="close();"/>
            </div>

        </form>
        </div>
    </div>

</div>